﻿@model ViolettaDB.Models.Usuario
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>
</head>

<body>
    <div class="container body-content">
        <div class="col-md-4 col-md-offset-4">
            <h1>Inicie sesión</h1>
            <div class="panel panel-default">
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Usuario" } })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @AUTOCOMPLETE = "off", @required = "required", @placeholder = "Password" } })
                            </div>

                            @if (ViewBag.error != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    <i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                                    @ViewBag.error
                                </div>
                            }

                            <input type="submit" value="Ingresar" class="btn btn-lg btn-primary btn-block">
                            <input type="button" value="Página principal" onclick="location.href='/Home/Index'" class="btn btn-lg btn-primary btn-block">

                            <div class="text-center">
                                ¿Olvido su contraseña?
                                <a class="sign-link" href="/Login/RecuperarContrasenia" data-purpose="login-link-signup-popup">
                                    Recuperar Contraseña
                                </a>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
      ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>